.Button {
  -fx-background-radius: 8px;

  -fx-border: 1px;
  -fx-border-color: Black;
  -fx-border-radius: 8px;
}

.Button:hover {
  -fx-scale-y: 1.1;
  -fx-scale-x: 1.1;
}

.Button:pressed {
  -fx-scale-y: 0.9;
  -fx-scale-x: 0.9;
}